body{
    background: linear-gradient(45deg, #240165 , #05001c);
    font-family: "Tajawal", sans-serif;
  }


  h1,h2,h3,h4,h5,h6{
    margin: 0px;
  }


  #cityAndDate{
    color: white;
    margin-right: 40px;
  }

  #cityAndDate h6{
    font-size: 40px;
    font-weight: 200px;

  }


 hr{
   margin: 0  50px;
   border-color: #5200e1;
    
  }

  #city-name{
    font-weight: 400px;
    font-size: 170px;
    
  }


  .card{
    width: 12%;
    height: 95%;
    background-color: white;
    font-size: 20px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.30);
  }


  .header{
    background: linear-gradient(45deg, #5709ee, #7a37bf);
    color: white;
    
  }


  .header h1{
    font-weight: 400;
    padding: 5px;
  }

  .time{
    font-size: 70px;
  }


  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }


  
  
  
  